<section
  id="about"
>
  <div class="section-inner">
    <h1>About</h1>

    <img
      src="images/dagna-gallinger.jpg"
      alt="Dagna Gallinger"
    >

    <p>
      Hi, I’m Dagna Gallinger. I’m a director, producer, and the head of Dagger Stories.
    </p>

    <p>
      I’ve spent most of my career working behind the scenes, for big machines like VICE, CBC and CTV. I made sure current affairs shows ran like clockwork, producing moments that make you cry, laugh and think.
    </p>

    <p>
      I also take ideas and run with them. Over the years I’ve helped create shows and one-offs. My work has been broadcast in over 15 countries and has taken me to Mexico, Honduras, Russia, Israel, the Palestinian Territories, the United States, Canada, and across Europe.
    </p>

    <p>
      Now I develop my own projects from scratch in collaboration with subject insiders and high-calibre creatives. I am looking for original stories, but it’s not just about novelty. In order to do a story justice, and to capture the interest of our audiences, we must innovate and find new narratives, new lenses through which we see our protagonists and subject matter.
    </p>

    <p
      id="contact"
      class="contact"
    >
      <a href="mailto:dagna@daggerstories.com">
        Have a story to tell?

        <strong>
          Get in touch!
        </strong>
      </a>
    </p>
  </div>
</section>
