<section
  id="about"
>
  <div class="section-inner">
    <h1>About</h1>

    <div class="headshot">
      <img
        src="images/dagna-gallinger.jpg"
        alt="Dagna Gallinger"
      >
    </div>

    <p>
      Hi, I’m Dagna Gallinger. I’m a director and producer.
    </p>

    <p>
      I’ve spent most of my career working behind the scenes, for places like VICE, CBC and CTV. I made sure current-affairs shows ran like clockwork, producing moments that make you laugh, cry and think.
    </p>

    <p>
      I also take ideas and run with them. Over the years I’ve helped create shows and one-offs. My work has been broadcast in over 15 countries and has taken me to Mexico, Honduras, Russia, Israel, the Palestinian Territories, the United States, Canada and across Europe.
    </p>

    <p>
      Now I develop my own projects from scratch in collaboration with subject insiders and high-calibre creatives. I am looking for original stories, to innovate and to find new narratives.
    </p>

    <p>
      My work has been featured on outlets including Paramount Plus, Amazon Prime, Hulu, Apple TV, Channel 4, National Geographic Latinoamérica, Canal+, CBC Gem, Investigation Discovery, SBS On Demand and many more.
    </p>

    <p
      id="contact"
      class="contact"
    >
      <a href="mailto:dagna@daggerstories.com">
        Have a story to tell?

        <strong>
          Get in touch!
        </strong>
      </a>
    </p>
  </div>
</section>
