<section
  id="our-work"
>
  <div class="section-inner">
    <h1>Our Work</h1>

    <div class="thumbnails">
      {{> thumbnail title="Foo" src="https://google.ca"}}

      {{> thumbnail title="Bar" src="https://canada.ca"}}

      {{> thumbnail title="Baz" src="https://thestar.com"}}
    </div>
  </div>
</section>
