<section
  id="services"
>
  <div class="section-inner">
    <h1>Services</h1>

    <p>
      Dagger Stories makes documentaries, reports from the field and manages productions. In addition to developing and running projects, I provide loan-outs for directing, producing, research and development services.
    </p>

    <p>
      Let’s cut through the shit and build new narratives together.
    </p>
  </div>
</section>
