<section
  id="what-we-do"
>
  <div class="section-inner">
    <h1>What We Do</h1>

    <p>
      Platform-agnostic, non-fiction storytelling.
    </p>

    <p>
      Dagger Stories makes documentaries, reports from the field and manages productions. In addition to developing and running projects, we provide loan-outs for directing, producing, research and development services.
    </p>

    <p>
      Let’s cut through the shit and build new narratives together.
    </p>
  </div>
</section>
