<section
  id="work"
>
  <div class="section-inner">
    <h1>Work</h1>

    <div class="credits">
      {{> credit
        title="Example Title 1"
        role="Role 1"
        year="2018"
        buttonText="View trailer"
        src="https://google.ca"
      }}

      {{> credit
        title="Example Title 2"
        role="Role 2"
        year="2021"
        buttonText="View episode"
        src="https://google.ca"
      }}

      {{> credit
        title="Example Title 3"
        role="Role 3"
        year="2024"
        buttonText="View episode"
        src="https://google.com"
      }}
    </div>
  </div>
</section>
